.upper_container{
    display: flex;
    justify-content: center;
}
.container{
    /* width: 50px; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.Scissor{
    margin-top: 30px;
}
.end{
    border-radius: 10%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.end img{
    width: 150px;
    /* border: 2px solid black; */   
}
.middle
{
    display: block;
    text-align: center;
}
.container img{
    width: 150px;
    cursor: pointer;
    /* border: 2px solid black; */
}
